.footer {
  padding: 50px 0;
  width: 100%;
  height: 220px;
  background-image: url("../../images/Untitled 2.png"); /* Use the correct path to your image */
  background-size: cover;
  background-position: center 75%; /* Adjusts which part of the image is shown */
  background-repeat: no-repeat;
  background-color: #b5c7db;
  margin-top: 100px;
}
